<div class="header">
	<h1 align="center">{{title}}</h1>
</div>
<div class="container">
	<form class="form-container" method="post" action="/products/update/{{product._id}}">
		<div class="form-group">
			<label>Nombre</label>
			<input type="text" class="form-control" name="name" value="{{product.name}}">
			<label>Precio</label>
			<input type="text" class="form-control" name="price" value="{{product.price}}">
			<label>Detalles</label>
			<textarea class="form-control" name="details">{{product.details}}</textarea>
			<br>
			<input type="submit" value="Save" class="btn btn-primary pull-right">
			<a href="/products" class="btn btn-default pull-right">Back</a>
			<a class="btn btn-danger" id="product-delete" data-product-id="{{product._id}}" data-csrf=locals._csrf>Delete</a>
		</div>
	</form>
</div>